$background: #23262E;
$background-alt: rgba(213, 206, 217, 0.075) ;
$background-alt2: #2d3036;
$foreground: #D5CED9;
$red: #F92672;
$yellow: #FFE66D;
$orange: #FF9E64;
$green: #96E072;
$blue: #00E8C6;
$blue2: #7CB7FF;
$magenta: #C74DED;
$cyan: #00E8C6;

